@mixin checkOut {

    display: flex;
    justify-content: center;

    .cart-summary {
        margin: 0 1rem auto 1rem;
        background-color: #f8f9fa;
        padding: 40px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        
      }
      
      .address-fields {
        padding: 20px;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
        text-align: start;
      }
      
      
      input {
        height: 50px;
        width: 400px;
        background-color: rgb(250, 250, 250);
        padding: 5px;
        margin-bottom: 10px;
        border: none;
      }

      label {
        margin-bottom: 10px;
      }
      
      .form-control {
        margin-bottom: 32px;
      }

      .checkbox {
        height: 15px;
        width: 23px;
        letter-spacing: 0.01em;
        padding: 0px 45px;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 450;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 10px;
      }
      
      .btn-submit {
        height: 50px;
        width: 142px;
        letter-spacing: 0.01em;
        padding: 0px 45px;
        background-color: green;
        border: none;
        color: #fff;
        font-size: 16px;
        font-weight: 450;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        margin-top: 20px;
      }
     
      hr {
        width: 15%;
      }
}
      
  
