@mixin contactHero {

        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    
        a {
            text-decoration: none;
            color: black;
            font-size: 1.5rem;
            font-weight: 200;
            transition: .4s;
        }
        a:hover {
            color: #fa3150;   
        }

        p {
            font-size: 1.5rem;
            font-weight: 200;
        }

        h1 {
            margin-bottom: 1rem;
        }
        .separate {
            display: flex;
            gap: 1.5rem;
            font-weight: 400;
        }
        .ContactImage {
            // width: 1920px, 300px;
            width: 100%;
            height: 300px;
            object-fit: cover;
            position: absolute;
            z-index: -1;
        
        }
    

}