        @mixin footer {
            
        background: #292929;
        padding: 35.5px 0;
        margin-bottom: 0;
        color: #A5A5A5;
        width: 1920px;
        height: 98px;
        }
            
        .footer-copyright  {
        font-size: 16px;
        text-align: center;
        margin-top: 4px;
        }
