@mixin selectedProduct {
  .container {
    padding: 0 8rem;
    background-color: #faefef;
    min-height: 37rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .product-list {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      margin: 4rem 0;
      .card-bg-odd {
        .image {
          width: 369px;
          height: 310px;
          background-color: #c5bebe;
        }
        .product-brief {
          background-color: $lightestGray;
          height: 7rem;
          padding: 0 1rem;
          .p-text {
            padding: 1rem 0;
          }
          .text-lower {
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #ece9e9;
            color: #888181;
            .p-price {
              display: flex;
              padding: 0.8rem 0;
              text-align: center;
              .p1 {
                margin-right: 2rem;
                text-decoration: line-through;
              }
            }
          }
        }
      }
      .card-bg-even {
        width: 369px;
        height: 422px;
        background-color: white;
        border: 1px solid #ece9e9;
        padding: 2rem 4rem;
        text-align: center;

        .p-headline {
          font-size: 1.5rem;
          font-weight: 500;
          text-transform: uppercase;
          color: $plusRed;
        }
        h3 {
          font-size: 3.5rem;
          text-transform: uppercase;
          margin: 1rem 0;
        }
        h6 {
          font-size: 1.4rem;
        }
        p {
          line-height: 1.5;
          margin: 1.2rem 0;
        }
        a {
          text-decoration: none;
          color: black;
        }
      }
    }
  }
}
