@mixin watchCollection {
  .container {
    // padding: 0 0 0 4rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

    .upperText {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      margin-top: 4rem;
      h2 {
        font-size: 3rem;
        margin-bottom: 2rem;
      }

      ul {
        display: flex;
        margin-bottom: 2rem;

        a {
          text-decoration: none;
          color: #000;
        }

        li {
          list-style: none;
          padding-right: 1rem;
        }
      }
    }

    .product-list {
      width: 80%;
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      margin-top: 2rem;
      .card-sm {
        margin-left: 0.8rem;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        cursor: pointer;

        a {
          text-decoration: none;
          color: black;
        }

        .image {
          width: 270px;
          object-fit: cover;
          height: 295px;
          background-color: #c5bebe;
          transition: transform 0.3s ease;
          cursor: pointer;
        }
        .image:hover {
          transform: scale(1.1);
        }
        p {
          padding: 0.5rem;
        }
      }
    }
    .btn-load {
      width: 240px;
      margin: 2rem 0;
      font-size: 1rem;
      text-transform: uppercase;
      border: 1px solid black;
      padding: 15px 25px;
      cursor: pointer;

      .btn-text {
        padding-bottom: 10px;
      }
    }

    .btn-load:hover {
      background-color: #000000;
      color: #fff;
      transition: ease-out 0.3s;
    }
  }
}
